<!-- List of Posts -->
{% extends 'blog/base.html' %}

{% block post_list %}
  {% for post in posts %}
  <div class="card mb-4">
    <img class="card-img-top" src="{{ post.image.url }}">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">{{ post.text|linebreaksbr }}</p>
      <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.published_date }}
    </div>
  </div>
  {% endfor %}
{% endblock %}
